@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
    --primary-color: #2d6e91;
    --secondary-color: #ffc814;
    --accent1-color: #a9c9e1;
    --accent2-color: #dbd8d2;
}

header {
    display: grid;
    grid-template-columns: 40% 55% 5%;
    height: 100px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

body {
    display: block;
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
	flex-wrap: wrap;
	list-style: none;
    justify-content: space-around;
	padding: 0;
    font-family: 'Source Sans 3';
}

nav a {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: white;
    padding: 5px;
    margin: 0.5%;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color:#2d6e91;
}

h2 {
    font-family: Oswald;
    color: var(--primary-color);
}

.hero div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero article {
    position: absolute;
    width: 57%;
    top: 230px;
    left: 20%;
    right: 22%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(169, 201, 225, 0.8);
    padding: 15px;
}

.hero h1 {
    position: absolute;
    top: 120px;
    width: 80%;
    background-color: rgba(30, 30, 30, 0.8);
    font-family: Oswald;
    color: white;
    text-align: center;
    padding: 5px 0;
}

article img {
    float: right;
    max-width: 100px;
    margin-left: 10px;
    border: 3px solid #fff;
}

article p {
    font-family: 'Source Sans 3';
    color: #212121;
    font-size: 105%;
}

section p {
    font-family: 'Source Sans 3';
    color: #212121;
    font-size: 105%;
}


footer {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #12364a;
    font-family: 'Source Sans 3';
    color: white;
    text-align: center;
    margin: 20px 0;
}

footer p {
    grid-column: 1/2;
    display: flex;
    align-self: start;
    padding-left: 5%;
}

footer a {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

footer img {
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.history {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 20px;
    background-color: var(--accent1-color);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 20px 0;
    align-items: center;
    max-height: 270px;
}

.history h2 {
    grid-column: span 3;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 3px;
}

.history img {
    width: 90%;
    /* margin: auto; */
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    background-color: var(--accent1-color);
    padding: 0 2% 2% 2%;
    margin: 20px 0;
}

.adventure h2 {
    grid-column: span 5;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 3px;
}

figure {
    border: thin #c0c0c0 solid;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
figure img {
    width: 100%;
    /* max-height: 150px; */
  }
  
figcaption {
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Source Sans 3';
    padding: 3px;
    text-align: center;
  }

.cont {
    background-color: #a9c9e197;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.reach {
    margin: auto;
} 

.reach h1 {
    font-family: Oswald;
    color: var(--primary-color);
    text-shadow: 2px 2px 0 #fff;
}

.reach img {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reach section {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    height: 40px;
}

iframe {
    width: 400px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    width: 400px;
    margin: auto;
    background-color: var(--primary-color);
    padding: 1em;
    font-family: "Source Sans 3";
}

.form h2 {
    color: #fff;
    text-align: center;
}

.contact {
    border: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 10px;
    color: #fff;
    padding-bottom: 2em;
}

#name, #useremail {
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    padding: 5px;
}

.message {
    border: 1px solid #fff;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 2em;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    align-items: center;
    color: #fff;
}

.message input {
    grid-column: 2/3;
    margin-left: auto;
    margin-right: 30%;
    height: 15px;
}

textarea {
    grid-column: span 3;
    margin: 2em 0 1em 0;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    padding: 5px; 
}

.checkbox {
    border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;
    color: #fff;
}

button {
    margin-top: 1em;
    display: flex;
    padding: 5px;
    width: 120px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    color: #555;
    font-weight: bold;
}

.employees {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    align-items: flex-start;
}

.employees figure {
    width: 20%
}

.wireframe {
    color: #fff;
    padding-right: 10px;
    font-size: small;
    text-align: center;
}

.hero-trip {
    position: relative;
    max-width: 100%;
    background-color: #a9c9e175;
    padding-bottom: 10px;
}

.hero-trip img {
    width: 100%;
    height: 200px;
}

.hero-trip h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 10px #333, 0 0 10px #333;
}

.hero-trip button {
    width: 200px;
    background-color: #fff;
    border: 2px solid #dbd8d2;
    border-radius: 0;
    position: absolute;
    top: 78%;
    right: 0;
    transition: 0.5s;
    font-family: Oswald;
    font-size: medium;
    line-height: 110%;
    color: #2d6e91;
}

.hero-trip button:hover {
    cursor: pointer;
    background-color: #f0eee9;
}

.river {
    display: grid;
    grid-template-columns: 3fr 4fr;
    background-color: #a9c9e175;
    margin-top: 20px;
}

.river img {
    grid-column: 1/2;
    width: 100%;
}

.river div {
    padding: 0 30px;
    background-color: #f0eee9;
}

.river h2 {
    color: #2d6e91;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.river ul {
    font-family: 'Source Sans 3';
}

.river-002 {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: #a9c9e175;
    margin-top: 20px;
}

.river-002 img {
    grid-column: 2/3;
    width: 100%;
}

.river-002 div {
    padding: 0 30px;
    background-color: #f0eee9;
}

.river-002 h2 {
    color: #2d6e91;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.river-002 ul {
    font-family: 'Source Sans 3';
}

.table {
    margin-top: 20px;
    background-color: #a9c9e175;
    font-family: 'Source Sans 3';
    padding: 1em;
    text-align: center;
    border-collapse: collapse;
}

table {
    width: 100%;
}

caption {
    font-family: Oswald;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2d6e91;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

th {
    padding: 5px;
}

thead {
    background-color: #2d6e91;
    color: #fff;
    line-height: 110%;
    height: 40px;
}

td {
    background-color: #fff;
    padding: 5px;
}

.hero-home {
    width: 100%;
    position: relative;
}

.hero-home img {
    width: 100%;
}

.hero-home h1 {
    font-family: Oswald;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    text-align: center;
    transform: scale(3);
    line-height: 110%;
    color: #fff;
    text-shadow: 0 0 7px #212121, 0 0 7px #212121, 0 0 7px #212121;
}

.hero-home p {
    font-family: Oswald;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    transform: scale(3);
    line-height: 110%;
    color: #fff;
    text-shadow: 0 0 7px #212121, 0 0 7px #212121, 0 0 7px #212121;
}

.offering {
    position: absolute;
    display: flex;
    width: 80%;
    bottom: 10%;
    justify-content: space-around;
}

.offering figure {
    margin: 1em;
    transition: 0.3s ease;
}

.offering figure:hover {
    transform: scale(1.1);
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    align-self: center;
}

.subscribe {
    /* width: 400px; */
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 3em;
    margin: 2em 2em 2em 6em; */
    background-color: #dbd8d287;
    padding-bottom: 1em;
    box-shadow: 0 0 10px #9b9b9b;
}

.subscribe h2 {
    text-align: center;
}

.subscribe fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe input {
    width: 150%;
    margin: 0.5em;
    height: 25px;
    font-family: 'Source Sans 3';
    font-size: medium;
}

.subscribe button {
    font-family: 'Source Sans 3';
    background-color: #2d6e91;
    color: #fff;
    transition: 0.3s ease;
}

.subscribe button:hover {
    background-color: #f0eee9;
    color: #2d6e91;
    cursor: pointer;
}

aside {
    grid-column: 4/5;
    display: flex;
    height: 100px;
    margin: auto;
    align-items: center;
}

aside p {
    margin-right: 1em;
    margin-top: 10%;
    font-family: "Source Sans 3";
    font-size: large;
    /* width: 180px; */
    font-style: italic;
    font-weight: bold;
}

aside button {
    height: 50px;
    border-radius: 0;
    clip-path: polygon(82% 0, 100% 50%, 82% 100%, 0% 100%, 17% 51%, 0% 0%);
    border: 0;
    background-color: #a9c9e1;
    transition: 0.2s;
}

aside button:hover {
    background-color: #2d6e91;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .hero-home h1 {
        top: 20%;
        transform: scale(1.5);
    }
    .hero-home p {
        top: 5%;
        font-size: large;
        transform: scale(1.5);
    }
    .offering {
        bottom: 40%;
        justify-content: space-around;
    }
    .offering figure {
        margin: 1em;
        padding: 3.5px;
    }
    .bottom {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 2fr;
        margin-top: 100px;
        margin-bottom: 50px;
        justify-content: center;
        align-self: center;
    }
    .subscribe input {
        width: 110%;
    }
}
